%h1 Levels
%div
  - @levels.in_groups_of(3).each do |level_row|
    %dl.row-wise-container
      - level_row.each do |level|
        - unless level.nil?
          %dd.col-lg-4.col-sm-4
            .f-box
              %h2= level.name
