%h1.automargin
  Levels
.solidgray
.marginadjust
- if @levels.present?  
  .solidgray
  .marginadjust
  .row-fluid
    - (1..@levels.count).to_a.each_slice(3).each_with_index do |levels, row_index|
      %ul.levels.thumbnails.no_list
        - levels.each_with_index do |level, col_index|
          - @level = @levels[level-1]
          %li.list
            .thumbnail{:style => 'height:150px;text-align:center;'}
              .caption
                .name{:style => 'font-size:20px;'}= @level.name

