- model_class = Topic
%h3.title #{@level.name}
%hr
.page-header
  %h3=t '.title', :default => model_class.model_name.human.pluralize.titleize
.row-fluid
  %ul.levels.thumbnails.no_list
    - @topics.each do |topic|
      %li.list
        .thumbnail.align-center
          .caption
            .name
              = link_to topic.title, topic_path(topic)

