- model_class = Topic
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:seq_number)
      %th= model_class.human_attribute_name(:title)
  %tbody
    - @topics.each do |topic|
      %tr
        %td= topic.seq_number
        %td= link_to topic.title, topic_path(topic)

