%h3 #{@level.name} topics
%hr
- @topics.in_groups_of(3).each do |topics|
  %dl.row-wise-container
    - topics.compact.each do |topic|
      = link_to topic_contents_path(topic) do
        %dd.col-lg-4.col-sm-4
          .f-box
            %h2= topic.title
