/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-reset
 *= require theme
 *= require style
 *= require calendar
 *= require style
 *= require framework_and_overrides
 *= require level
 *= require ytp
 *= require topic
 *= require contents
 *= require_self
 */

li.selected {
  background-color: #fff;  
  color: black;
  border-bottom: 1px solid white;
}

.element-invisible{
 overflow:hidden;
 height:0px;
 margin-left:-1000px;
 position:absolute;
 width: 0px;
}

