/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-reset
 *= require theme
 *= require style
 *= require calendar
 *= require style
 *= require framework_and_overrides
 *= require level
 *= require_self
 */

body.textsize-1225 {font:122.5%/1.5 Arial, sans-serif;}
body.textsize-1425 {font:142.5%/1.5 Arial, sans-serif;}
body.textsize-1625 {font:162.5%/1.5 Arial, sans-serif;}
body.textsize-1825 {font:182.5%/1.5 Arial, sans-serif;}
body.textsize-2025 {font:202.5%/1.5 Arial, sans-serif;}
body.textsize-2225 {font:302.5%/1.5 Arial, sans-serif;}
body.textsize-2425 {font:402.5%/1.5 Arial, sans-serif;}

.control-bar{
  background: black;
  overflow:hidden;
  // width: 250px;
  position:fixed;
  right: 0;
  top: 30%;
  padding: 10px 10px 0px 0px;
  border-radius: 5px 0 0 5px;
}

.change-font-size, .switch-color{
  margin: 0px -2px 7px 7px;
  padding: 10px;
}

.increase-font{
  background-image:  url('plus-text-image.jpg')
}

.default-font-size{
  background-image:  url('reset-text-image.jpg')
}

.decrease-font{
  background-image:  url('minus-text-image.jpg')
}

.white{
  background-image: url('white-icon-image.png')
}

.yellow{
  background-image: url('yellow-icon-image.png')
}

.orange{
  background-image: url('orange-icon-image.png')
}

.black{
  background-image: url('black-icon-image.png')
}
