// import the CSS framework
//@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.no_list{
  list-style:none;
}

.list{
  float:left;
  width:30% !important;
  margin-right: 2% !important;
}

.name{
  font-size: 20px;
  margin-top: 50px;
}

.title{
   text-decoration: underline;
}

.align-center{
  height:150px;
  text-align:center;
}

.header-frontend .navbar-default {
  background-color: #F4F4F4;
}

.navbar-brand span {
  font-size: xx-large;
}

h1.header {
  padding-left: 15px;
}

