// Place all the styles related to the Level controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
      
ul.levels.thumbnails {
  list-style:none;
}


ul.levels.thumbnails li{
  float:left;
  width:30% !important;
  margin-right: 2% !important;
}

ul.levels.thumbnails li .thumbnail{
  height:150px;
  text-align:center;
}
                
ul.levels.thumbnails li .thumbnail .caption .name{
  font-size:20px;
}
